<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head" .}}
</head>
<body>
    {{template "slider" .}}
    <div class="page-layout">
        {{template "header" .}}
        {{template "content" .}}
        {{template "footer" .}}
    </div>
</body>
</html>