
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;

    width: 100%;

    font-size: 18px;
}

.hidden {
    display: none;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.buttonWrapper:has(+.hidden)::after {
    cursor: default;
    pointer-events: none;
    content: '...';

    display: block;
}

.button {
    all: unset;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent-and-buttons);
    border: 1px solid var(--text-and-frames);
    color: var(--text-and-frames);
    
    padding: 0;
    border-radius: 25px;

    min-height: 40px;
    min-width: 40px;

    font-size: 18px;
    text-decoration: none;
    line-height: 1;

    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button:disabled {
    cursor: default;
    background-color: transparent;
}

.button.current {
    cursor: default;
    pointer-events: none;
    font-weight: 700;
    text-decoration: underline;

    outline: solid 2px var(--text-and-frames);
    background-color: transparent;
}

.control {
    min-width: 60px;
}

.iconWrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: min-content;
    width: min-content;
}

.icon {
    min-height: 18px;
    min-width: 18px;
    height: 100%;
    width: 100%;
    background-color: var(--text-and-frames);
}