/* Block */

.block {
    background-color: var(--card-background);
    border: solid 1px var(--text-and-frames);
    border-radius: 25px;
    padding: 8px;
}

/* Image Block */

.image-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-block > img {
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

/* Block of left image and right title + text + button */

.complex-block {
    display: flex;
    flex-direction: row;
    background-color: var(--card-background);
    border: solid 1px var(--text-and-frames);
    border-radius: 25px;
    padding: 8px;
    margin: 32px 0;
}

.complex-block > div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 16px;
}

/* .complex-block-img-block {
    
} */

.complex-block-info-block {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 8px;
}

.complex-block-img {
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.complex-block-title {
    padding-bottom: 16px;
    font-size: 40px;
}

.complex-block-text {
    padding-block: 4px;
}

.complex-block-link {
    align-self: center;
    width: 80% !important;
    margin-top: 16px;
}