body {
    position: relative;
    
    background-color: var(--page-background);
    color: var(--text-and-frames);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 100vh;
    min-height: 100lvh;
    overflow-x: hidden;

    font-family: "Raleway";
    font-weight: 500; /* Regular */
    font-size: 16px;
    line-height: 1.2;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1;
    width: 100%;
    max-width: 1328px;
}

h1 {
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 48px;
    margin-block: 0px;
    line-height: 1;
}

h2 {
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 36px;
    margin-block: 0px;
    line-height: 1;
}

h3 {
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 32px;
    margin-block: 0px;
    line-height: 1;
}

p {
    margin-block: 48px;
}

.highlight {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
}

/* Link */

a {
    color: var(--text-and-frames);
    font-family: "Cormorant";
}

/* Button */

button {
    color: var(--text-and-frames);
    font-family: "Cormorant";
}

/* Icon */

.icon-s {
    max-height: 38px;
    max-width: 38px;
}

.icon-m {
    max-height: 42px;
    max-width: 42px;
}

.icon-l {
    height: 48px;
    width: 48px;
}

.icon-xl {
    height: 56px;
    width: 56px;
}

