:root {
    --accent-and-buttons: #FFA51F;
    --text-and-frames: #532B1E;
    --page-background: #FCFAF2;
    --card-background: #EDE7D9;
    --backdrop: #0000004B;
    --correct: #198754;
    --incorrect: #A11616;
}