.pageContent {
    display: flex;
    justify-content: center;

    padding: 0 16px;
    padding-bottom: 32px;

    line-height: 1;
}

.errorBlock {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.errorNumber {
    font-size: 200px;
    text-align: center;
    cursor: default;
}

.errorComment {
    font-size: 36px;
    text-align: center;
    margin-block: 24px;
}

.redirectButton {
    align-self: center;
    width: 80%;
}