.control {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formError {
    color: var(--incorrect);
}

.formError:empty {
    display: none;
}

.radioGroup {
    font-family: 'Raleway';
    gap: 8px;
    width: fit-content;
}

.addToCartSpace {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
}

.priceAndAmoutSpace {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.price {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 600;
    min-width: 184px;
}

.amountControl, .amountControl button {
    font-family: 'Raleway' !important;
}

.amountControl span {
    font-size: 24px !important;
    min-width: 32px;
    padding-bottom: 4px;
}

.submitButton {
    width: 100% !important;
}