.pageContent {
    padding: 0px 16px;
}

.noProductsText {
    font-size: 24px;
}

.productsList {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    width: 100%;
    padding: 16px 0;
}

.productsList:not(:has(.productCard)) {
    display: flex;
    justify-content: center;
}

.productCard {
    box-sizing: border-box;
}