
.wrapper {
    display: flex;
    flex-direction: column;

    font-size: 18px;
    font-weight: 400;
}

.textArea {
    width: 100%;
    padding: 0.25em;

    border: 1px solid var(--text-and-frames);
    border-radius: 10px;
    color: var(--text-and-frames);
    background-color: transparent;
}

.textArea:focus {
    outline: none;
}

.annotation {
    width: 100%;
    padding: 0.25em 0;
    
    color: var(--text-and-frames);

    font-size: 16px;
    font-weight: 400;
}

/* Resizing */

.bothResize {
    resize: both;
}

.verticalResize {
    resize: vertical;
}

.horizontalResize {
    resize: horizontal;
}

.fixedResize {
    resize: none;
}