
.textArea {
    font-size: 18px;
    font-weight: 400;

    padding: 0.25em;

    border: 1px solid var(--text-and-frames);
    border-radius: 10px;
    color: var(--text-and-frames);
    background-color: transparent;
}

.textArea:focus {
    outline: none;
}

/* Resizing */

.bothResize {
    resize: both;
}

.verticalResize {
    resize: vertical;
}

.horizontalResize {
    resize: horizontal;
}

.fixedResize {
    resize: none;
}