
/* Header */

header {
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--accent-and-buttons);
    border: 1px solid var(--text-and-frames);
    border-radius: 15px;

    white-space: nowrap;

    height: 72px;

    z-index: 100;
}

.header-logo-link {
    height: 100%;
}

.header-logo-link img {
    height: inherit;
}

.header-group {
    display: flex;
    justify-content: center;
}

header a {
    margin: 0 32px;
}

header a:not(:hover) {
    text-decoration: none;
}

.header-group img {
    height: 40px;
}

/* Footer */

footer {
    position: relative;
    display: flex;
    flex-direction: row;

    background-color: var(--card-background);
    border: 1px solid var(--text-and-frames);
    border-radius: 15px;

    min-height: 196px;

    padding: 10px 32px;

    z-index: 100;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-logo-side img {
    width: 168px;
    margin-right: 16px;
}

.footer-category-list {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.footer-category-element {
    height: 28px;
    margin-block: 4px;
}

.footer-category-element:has(a) {
    margin-block: 0;
}

.footer-category-element img {
    width: 18px;
}

.footer-category-element span {
    vertical-align: top;
    font-weight: 400;
}

.footer-category-element a {
    font-weight: 400;
}

.footer-category-element a:not(:hover) {
    text-decoration: none;
}

.footer-over {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: end;
    bottom: 10px;
    right: 24px;
}

.footer-social {
    margin-right: 20px;
    vertical-align: bottom;
}

.footer-social a {
    text-decoration: none;
    margin-inline: 2px;
}

.footer-social img {
    max-height: 24px;
}

.footer-over img {
    height: 36px;
}

/* Page Content */

.page-layout {
    max-width: 1328px;
    margin-inline: auto;
    padding: 8px;
}

/* Prosduct Card */

.product-card {
    background-color: var(--card-background);
    border: solid 1px var(--text-and-frames);
    border-radius: 25px;
    display: flex;
    flex-direction: column;

    margin: 4px;

    overflow: hidden;
}

.product-image {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 408px;
}

.product-control {
    border-top: solid 1px var(--text-and-frames);
    display: flex;
    flex-direction: row;
    min-height: 60px;
    padding: 4px;
}

.product-name-and-volume {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex-grow: 1; */
    width: 50%;
}

.product-volume-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-volume {
    border: solid 1px var(--text-and-frames);
    border-radius: 25px;
    padding: 4px;
    margin-inline: 2px;
    font-size: 14px;
    font-weight: 400;
}

.product-price-and-cart-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex-grow: 1; */
    width: 50%;
}

.product-price {
    font-size: 24px;
    font-weight: 500;
}

.product-cart-button {
    padding-block: 2px 4px;
    margin: 0;
    height: 24px;
    width: 60%;
    white-space: nowrap;
    font-size: 16px;
}


/* Block */

.block {
    background-color: var(--card-background);
    border: solid 1px var(--text-and-frames);
    border-radius: 25px;
    padding: 8px;
}

/* Image Block */

.image-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-block > img {
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

/* Block of left image and right title + text + button */

.complex-block {
    display: flex;
    flex-direction: row;
    background-color: var(--card-background);
    border: solid 1px var(--text-and-frames);
    border-radius: 25px;
    padding: 8px;
    margin: 32px 0;
}

.complex-block > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 16px;
}

.complex-block > div:first-child {
    margin-right: 32px;
}

.complex-block > div:last-child {
    margin-left: 32px;
}

.complex-block-img {
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.complex-block-title {
    padding-bottom: 16px;
    font-size: 40px;
}

.complex-block-text {
    padding-block: 4px;
}

.complex-block .btn {
    width: 80%;
}