.page-content {
    display: flex;
    justify-content: center;

    padding-block: 32px 16px;
}

.error-block {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.error-number {
    font-size: 200px;
    text-align: center;
    cursor: default;
}

.error-comment {
    font-size: 36px;
    text-align: center;
    margin-block: 24px;
}