
.root {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 100%;
    width: 100%;
    min-height: 14px;
    min-width: 14px;
    background-size: cover;
}