.root {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: min-content;
    width: min-content;
}

.icon {
    height: 100%;
    width: 100%;
}

/* Render Type */

.imageRender {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.maskRender {
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: var(--text-and-frames);
}

/* Orientation */

.inlineOrientation {
    display: inline-flex;
}

.blockOrientation {
    display: flex;
}

/* Size */

.xsSize {
    min-height: 12px;
    min-width: 12px;
}

.sSize {
    min-height: 16px;
    min-width: 16px;
}

.mSize {
    min-height: 20px;
    min-width: 20px;
}

.lSize {
    min-height: 24px;
    min-width: 24px;
}

.xlSize {
    min-height: 28px;
    min-width: 28px;
}

.xxlSize {
    min-height: 32px;
    min-width: 32px;
}

.xxxlSize {
    min-height: 36px;
    min-width: 36px;
}