/* Block */

.block {
    background-color: var(--card-background);
    border: solid 1px var(--text-and-frames);
    border-radius: 25px;
    padding: 8px;
}

/* Image Block */

.imageBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageBlock > img {
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

/* Block of left image and right title + text + button */

.complexBlock {
    display: flex;
    flex-direction: row;
    background-color: var(--card-background);
    border: solid 1px var(--text-and-frames);
    border-radius: 25px;
    padding: 8px;
    margin: 32px 0;
}

.complexBlock > div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 16px;
}

.complexBlock > div:first-child {
    
}

.complexBlock > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.complexBlockImg {
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.complexBlockTitle {
    padding-bottom: 16px;
    font-size: 40px;
}

.complexBlockText {
    padding-block: 4px;
}

.complexBlock .btn {
    align-self: center;
    width: 80%;
    font-family: Comorant;
    font-size: 20px;
}