{{define "content"}}
    <div class="page-content">
        <div class="error-block">
            <div class="error-number">404</div>
            <div class="error-comment">падаецца, ты заблукаў, сябра</div>
            <a href="/" class="btn">Павярнуцца на галоўнаю</a>
        </div>
    </div>
{{end}}